body{
    font-family: 'Style Script', cursive;
    background: white;
    padding-left: 50px;
}
.heading{
    width: 200px;
    height: 200px;
    font-size: 100px;
}
.heading_img{
    width: 200px;
    height: 150px;
}
.case{
    background-color: burlywood;
    width: 350px;
    height: 500px;
    border-radius: 50px;
    padding: 50px;
    border-color: rgb(255, 166, 0);
    border-style: solid;
}
.modal_buttons{
    border: blue;
    border-radius: 15px;
    width: 250px;
    height: 50px;
}
.modal_body{
    background-color: rgb(151, 112, 60);
}
.modal_header{
    background-color: rgb(151, 112, 60);
}
.modal_footer{
    background-color: rgb(151, 112, 60);
}
.case_image{
    border-radius: 50px;
    border: black;
    border-style: solid;
}
.winner{
    font: bold;
    color: blueviolet;
}
.loser{
    font: bold;
    color: red;
}
.footer{
    margin-left: 500px;
    background-color: chocolate;
    border-style: solid;
    border-radius: 50px;
    border-color: crimson;
    padding-left: 25px;
    width: 500px;
    font-size: 30px;
}
.results{
    padding-left: 50px;
    font-size: 25px;
    color: cadetblue;
}